[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
python-dotenv = "*"
pyarrow = "*"
pyyaml = "*"


[dev-packages]
ipykernel = "*"
pylint = "*"
moto = "*"
coverage = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
